/* global */
html{
  overflow-x: hidden;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h2{
  padding: 100px 0 30px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #39393e;
}
.semi-bold, i{
  font-weight: 500;
  color: #bcbc75;
}
header .current a{
  font-weight: normal;
  color: rgba(57, 57, 62, 0.9);
}
.alt-section{
  background-color: #c6c6c1;
}
.cf::after{
  content: "";
  display: table;
  clear: both;
}



/*header*/
header{
    height: 100vh;
    width: 100%;
    background-color: #ccc;
    background-image: url(../img/pale-sky.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #39393e;
}
#header-title{
  width: 100%;
  display: block;
  position: absolute;
  top: 50vh;
  margin-top: -110px;
  text-align: center;
}
header h1{
  line-height: 72px;
  font-size: 72px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;
}
.kicker{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
}
.head-logo svg{
  width: 50px;
  height: auto;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
  fill: rgba(57, 57, 62, 0.9);
  stroke: rgba(57, 57, 62, 0.9);
}
.head-logo svg:hover{
  fill: rgba(57, 57, 62, 1);
  stroke: rgba(57, 57, 62, 1);
}
.header-nav ul{
  margin: 0;
  padding: 0;
}
.header-nav li{
  display: inline;
  padding: 0 20px 0 20px;
}
.header-nav a{
  color: rgba(57, 57, 62, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
}
.header-nav a:hover{
  font-weight: normal;
  color: rgba(57, 57, 62, 0.9);
}
/*header flex box*/
.head-bar{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-logo{
  padding: 0 0 0 20px;
}

/* about */
.about-lockup{
  max-width: 750px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.about-lockup .face{
  height: 200px;
  width: 200px;
  order: 3;
}
.about-lockup .face-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(../img/face.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.about-lockup [class^="icon-"]{
  height: 100px;
  width: 100px;
  fill: #2e2c2f;
}
.about-lockup .icon-pencil{
  order: 1;
}
.about-lockup .icon-code{
  order: 5;
}
.about-lockup .icon-web{
  order: 4;
}
.about-lockup .icon-video{
  order: 2;
}
.blurb{
  max-width: 700px;
  text-align: center;
  margin: 50px auto;
  padding: 0 15px;
  font-size: 24px;
  font-weight: lighter;
  color: #2e2c2f
}

/* skill lockup */
.skill-lockup{
  max-width: 540px;
  margin: 100px auto;
  color: rgba(57, 57, 62, 0.8);
}
.skill-lockup::after{
  content: "";
  display: table;
  clear: both;
}
.skill-lockup .skill-unit{
  width: 270px;
  float: left;
}
.skill-lockup .skill-icon{
  font-size: 0px;
  margin: 3px 0 30px;
}
.skill-lockup .skill-icon span{
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #cccc99;
  margin-right: 8px;
  border-radius: 50%;
}
.skill-lockup .skill-icon.skill-10 span:nth-child(n+11), .skill-lockup .skill-icon.skill-9 span:nth-child(n+10), .skill-lockup .skill-icon.skill-8 span:nth-child(n+9), .skill-lockup .skill-icon.skill-7 span:nth-child(n+8), .skill-lockup .skill-icon.skill-6 span:nth-child(n+7), .skill-lockup .skill-icon.skill-5 span:nth-child(n+6){
  background: #ccc;
}
.skill-lockup .skill-icon.skill-10 span:nth-child(n+11)::after, .skill-lockup .skill-icon.skill-9 span:nth-child(n+10)::after, .skill-lockup .skill-icon.skill-8 span:nth-child(n+9)::after, .skill-lockup .skill-icon.skill-7 span:nth-child(n+8)::after, .skill-lockup .skill-icon.skill-6 span:nth-child(n+7)::after, .skill-lockup .skill-icon.skill-5 span:nth-child(n+6)::after{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 2px;
}

/* work */
.thumb-container{
  max-width: 80%;
  margin: 0px auto;
  padding-bottom: 100px;
}
.thumb-container .thumb-unit{
  display: block;
  width: 33%;
  float: left;
  position: relative;
  padding-top: 20%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumb-container .thumb1{
  background-image: url(../img/projects/rs-design/thumb.jpg);
}.thumb-container .thumb2{
  background-image: url(../img/projects/subsqnt/thumb.jpg);
}.thumb-container .thumb3{
  background-image: url(../img/projects/karl-faraj/thumb.png);
}.thumb-container .thumb4{
  background-image: url(../img/projects/imaginations/thumb.jpg);
}.thumb-container .thumb5{
  background-image: url(../img/projects/healthy-science/thumb.png);
}.thumb-container .thumb6{
  background-image: url(../img/projects/sketches/thumb.jpg);
}
.thumb-container .thumb-unit .thumb-overlay{
  position: absolute;
  top: 100%;
  right: 0px;
  bottom: 0;
  left: 0px;
  height: 100%;
  background-color: rgba(204, 204, 153, 0.9);
  text-align: center;
  transition: top 0.5s;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.thumb-container .thumb-unit .thumb-overlay strong{
  display: block;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  color: white;
}
.thumb-container .thumb-unit:hover .thumb-overlay{
  position: absolute;
  top: 0%;
  right: 0px;
  bottom: 0;
  left: 0px;
}
.thumb-container .thumb-unit:hover{
  
}
/* footer */
footer{
  width: 100%;
  height: auto;
  background-image: url(../img/pale-sky.jpg);
  background-position: bottom;
  color: rgba(198, 198, 193, 0.7);
}
footer h3, footer p{
  margin: 0;
  padding: 0 20px 0 20px;
}
#foot-title h3{
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#foot-title .kicker{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
}
.foot-logo svg{
  width: 40px;
  fill: rgba(198, 198, 193, 0.7);
  stroke: rgba(198, 198, 193, 0.7);
}
.foot-nav ul{
  margin: 0;
  padding: 0;
}
.foot-nav li{
  display: inline;
  padding: 0 20px 0 20px;
}
.foot-nav a{
  color: rgba(198, 198, 193, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}
.foot-nav a:hover{
  font-weight: normal;
  color: rgba(198, 198, 193, 0.9);
}
/*footer flex box*/
#main-footer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}
#foot-title{
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  -o-order: 1;
  order: 1;
  width: 50%;
  text-align: left;
}
.foot-logo{
  -webkit-order: 2;
  -moz-order: 2;
  -ms-order: 2;
  -o-order: 2;
  order: 2;
  min-width: 40px;
  text-align: center;
}
.foot-nav{
  -webkit-order: 3;
  -moz-order: 3;
  -ms-order: 3;
  -o-order: 3;
  order: 3;
  width: 50%;
  text-align: right;
}

.legal{
  display: block;
  margin-top: 10px;
  width: 100vw;
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(198, 198, 193, 0.5)
}


/*media queries*/
@media (max-width:700px){
  header{
    background-attachment: scroll;
  }
  .about-lockup{
    display: block;
    text-align: center;
  }
  .about-lockup .face{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .about-lockup div{
    display: inline-block;
  }
  .about-lockup [class^="icon-"]{
    margin: 15px;
  }
  .thumb-container .thumb-unit{
    width: 50%;
    padding-top: 33%;
  }
  
}


@media (max-width:640px) {
  .skill-lockup{
    width: 220px;
  }
  .skill-lockup .skill-unit{
    width: 220px;
    margin: 0 auto;
  }
  .thumb-container .thumb-unit .thumb-overlay strong{
    font-size: 18px;
  }
}