/* global */
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}
.sub-heading{
  padding: 100px 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #39393e;
}
.cf::after{
  content: "";
  display: table;
  clear: both;
}

/* logo */
.logo{
  padding: 20px 0 0 20px;
  float: left;
}
.logo svg{
  width: auto;
  height: 50px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
}
header .logo svg{
  fill: rgba(57, 57, 62, 0.9);
  stroke: rgba(57, 57, 62, 0.9);
}
header .logo svg:hover{
  fill: rgba(57, 57, 62, 1);
  stroke: rgba(57, 57, 62, 1);
}
footer .logo{
  fill: #c6c6c1;
  stroke: #c6c6c1;
}

/*nav */
.header-nav{
  float: right;
  padding-top: 35px;
}
.header-nav ul{
  margin: 0;
  padding: 0;
}
.header-nav li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
.header-nav a{
  color: rgba(57, 57, 62, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
}
.header-nav a:hover{
  font-weight: normal;
  color: rgba(57, 57, 62, 0.9);
}
.current a{
  font-weight: normal;
  color: rgba(57, 57, 62, 0.9);
}
.foot-nav{
  float: right;
  padding-top: 35px;
}
.foot-nav ul{
  margin: 0;
  padding: 0;
}
.foot-nav li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
.foot-nav a{
  color: rgba(198, 198, 193, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}
.foot-nav a:hover{
  font-weight: normal;
  color: rgba(198, 198, 193, 0.9);
}

/*header*/
header{
    height: 100vh;
    width: 100%;
    background-color: #ccc;
    position: relative;
    color: #39393e;
}
.head-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/pale-sky.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#header-title{
  width: 100vw;
  display: block;
  position: absolute;
  top: 50vh;
  margin-top: -110px;
  text-align: center;
}
header h1{
  line-height: 72px;
  font-size: 72px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;
}
.kicker{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
}

/* about */
.about-lockup{
  max-width: 750px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.about-lockup .face{
  height: 200px;
  width: 200px;
  order: 3;
}
.about-lockup .face-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(../img/face.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.about-lockup [class^="icon-"]{
  height: 100px;
  width: 100px;
  fill: #2e2c2f;
}
.about-lockup .icon-pencil{
  order: 1;
}
.about-lockup .icon-code{
  order: 5;
}
.about-lockup .icon-web{
  order: 4;
}
.about-lockup .icon-video{
  order: 2;
}
.blurb{
  max-width: 700px;
  text-align: center;
  margin: 50px auto;
  padding: 0 15px;
  font-size: 24px;
  font-weight: lighter;
  color: #2e2c2f
}
@media (max-width:700px){
  .about-lockup{
    display: block;
    text-align: center;
  }
  .about-lockup .face{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .about-lockup div{
    display: inline-block;
  }
  .about-lockup [class^="icon-"]{
    margin: 15px;
  }
}

/* skill lockup */
.skill-lockup{
  max-width: 540px;
  margin: 100px auto;
  color: rgba(57, 57, 62, 0.8);
}
.skill-lockup::after{
  content: "";
  display: table;
  clear: both;
}
.skill-lockup .skill-unit{
  width: 270px;
  float: left;
}
.skill-lockup .skill-icon{
  font-size: 0px;
  margin: 3px 0 30px;
}
.skill-lockup .skill-icon span{
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #2e2c2f;
  margin-right: 8px;
  border-radius: 50%;
}
.skill-lockup .skill-icon span::after{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 2px;
}
.skill-lockup .skill-icon.skill-10 span:nth-child(n+11), .skill-lockup .skill-icon.skill-9 span:nth-child(n+10), .skill-lockup .skill-icon.skill-8 span:nth-child(n+9), .skill-lockup .skill-icon.skill-7 span:nth-child(n+8), .skill-lockup .skill-icon.skill-6 span:nth-child(n+7), .skill-lockup .skill-icon.skill-5 span:nth-child(n+6){
  background: #cccc99;
}
@media (max-width:640px) {
  .skill-lockup{
    width: 220px;
  }
  .skill-lockup .skill-unit{
    width: 220px;
    margin: 0 auto;
  }
}


/* footer */
footer{
  position: relative;
  width: 100%;
  height: auto;
  background-image: url(../img/pale-sky.jpg);
  background-position: bottom;
  color: #c6c6c1;
}
footer h3, footer p{
  margin: 0;
  padding: 0;
}
#foot-title{
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 20px;
}
#foot-title h3{
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#foot-title .kicker{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
}
.legal{
  display: inline-block;
  width: 100vw;
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(198, 198, 193, 0.5)
}
